---
interface Props {
  title: string;
  description?: string;
  lang?: string;
}

const { 
  title,
  description = "Streamline your car dealership's trade-in process with our embedded widget solution",
  lang = 'de'
} = Astro.props;
---

<!doctype html>
<html lang={lang} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="https://www.carauktion.ch/img/favicon.png" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@400;500;600;700&display=swap" rel="stylesheet">
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="min-h-screen bg-white text-primary-text flex flex-col">
    <slot />
  </body>
</html>